KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=
 
KERNEL_ARCH_OBJS:= \
$(ARCHDIR)/boot_asm/boot.o \
$(ARCHDIR)/display/tty.o \
$(ARCHDIR)/display/cursor.o \
$(ARCHDIR)/mem/physmm.o \
$(ARCHDIR)/tables/gdt.o \
$(ARCHDIR)/tables/idt.o \
$(ARCHDIR)/tables/desc_tables.o \
$(ARCHDIR)/interrupts/isr.o \
$(ARCHDIR)/interrupts/pic.o \
$(ARCHDIR)/mem/paging.o \
$(ARCHDIR)/mem/pageld.o \
$(ARCHDIR)/mem/kmalloc.o \
$(ARCHDIR)/drivers/ps2_keyboard/ps2_keyboard.o\
$(ARCHDIR)/drivers/ps2_keyboard/ps2_scancode_fsm.o\
$(ARCHDIR)/services/keyboard_event/kbd_event_mgr.o\

