KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=
 
KERNEL_ARCH_OBJS:= \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/cursor.o \
$(ARCHDIR)/physmm.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/desc_tables.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/pageld.o \
